{
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleAttributePerLine": true,
  "parentSpacing": true,
  "printWidth": 100
}